@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      to bottom,
      #434343,
      #000000
    ); /* Gradiente de arriba hacia abajo */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-repeat: no-repeat; /* Evita que el gradiente se repita */
  background-attachment: fixed; /* Hace que el gradiente cubra toda la pantalla */
  font-family: Arial, Helvetica, sans-serif;
}
